<div class="container-fluid">
<div class="row">
<div class="col-md-2 sideback" ></div>


<div class="col-md-8">


<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1 class="display-4">{{ currentData.location.name }}</h1>   
    <h2 class="display-4">{{ currentData.location.region }}</h2>
    <h2 class="display-4">{{ currentData.location.country }}</h2> <hr/>

    <span>
    <h1 class="display-4">{{ currentData.current.temp_c }} Degree Celcius</h1>
    <h1 class="display-4">{{ currentData.current.temp_f }} Degree Farenheit</h1>
    </span>
  </div>
</div>


</div>


<div class="col-md-2 sideback"></div>
</div>
</div>