<style>
.active {
  background-color: #b71540;
  border-radius: 10px;
}
</style>

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #192a56;">
 <a class="navbar-brand" href="#" [routerLink]="['/weather']">Souvik Weather</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse w-100 order-1 order-md-0 dual-collapse2" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item">
        <a href="#" [routerLink]="['/weather']" [routerLinkActive]="['active']" class="nav-link">Current Weather</a>
      </li>
     
      <li class="nav-item">
        <a href="#" [routerLink]="['/weather-forecast']" [routerLinkActive]="['active']" class="nav-link">Weather Forecast</a>
      </li>
     
    </ul>
    
    
  </div>


   <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a href="#" [routerLink]="['/about']" [routerLinkActive]="['active']" class="nav-link">About Myself</a>
              </li>
          </ul>
   </div>




</nav>



<br/>




<!-- Adding carousel  -->

<router-outlet></router-outlet>


